// website theme/bootstrap
$theme-colors: (
	"primary": #000000,
	"secondary": #637074,
	"white": #FFFFFF,
	"dark":#000000,
	);
$border-radius: 0px;
$border-width: 3px;
$hr-border-color: #000000;
$card-border-color: #000000;
$navbar-toggler-font-size: 2em;


// import bootstrap scss
@import '../../node_modules/bootstrap/scss/bootstrap';

html {
	scroll-behavior: smooth;

}


* {
	font-family: 'Roboto', sans-serif; 
}
// ========NAVBAR=======

.burger-icon{
	height: 4vh;
	width: 4vh;
}

.company-name {
	font-weight: bold;
}


ul.dropdown-menu{
    width: 11vw;
    border-radius: 0px;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 16px;
    text-decoration: none;
 	padding: 0px;
  	list-style-type: none;
  	-webkit-animation: mymove 0.5s;
  	animation: mymove 0.5s;
    background-color: #fff;


}
li.dropdown:hover ul.dropdown-menu{
    display: block;
}

.dropdown-menu li:hover a{
  color: #ec5626;
}

.dropdown-menu li{
  border-bottom: 1px solid #ccc;
  padding: 20px;
  display:block;
}
.dropdown-menu li a{
 color: #000000;
 text-decoration: none;
 text-transform: capitalize;
}
@keyframes mymove {
    from {
      left:  100px;
         height: 0px;
         opacity: 0;
         border-bottom:0px;
    }
    to {
        height: auto;

    }
}

.navbar-nav a.nav-link{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
ul.navbar-nav li.nav-item{
  margin: 0 20px;
}
ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}
.navbar-nav .nav-item:hover:after {
    width: 100%;
    background:#eb3719;
}

.link-active {
	border-bottom: 3px solid red;
}


	


// ==========HOMEPAGE=========

.jumbotron-home {
	// background: url('./../images/bg2.jpeg') no-repeat center;
	background-color: white; 
	 height:100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	h1  {
		font-size: 10vw;
		font-weight: bold;
	}
}


.home-about .home-meet {
	font-weight: bold;
}

.home-picture {
	height: 90%;
	width: 60%;
}

.about-homepage {
	border-bottom: 3px solid #000000;
}




// ========ABOUT US============
.about-us {
	padding-top: 10vh;
	font-size: 60px;
}

.job-about {
	font-weight: bold;
}

.jumbotron-about {

	height: 105vh; 
	background: white;
}

.about-team {
	padding-left: 10vh;
	font-size: 70px;
}

.about-icon {
	height: 15vh;
}


.history-about {
	height: 30vh;
	width: 30vh;
}

// =========GALLERY===========

.gallery{
	padding-top: 10vh;
	font-size: 60px;
}
.modal-icon {

	height: 95%;
	width: 95%;
	cursor: pointer;
	transition: transform .5s ease;
	overflow: hidden;



	&:hover {
		transform: scale(1.1);

	}
}

// ==============CONTACT===========



.responsive-container
{
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.responsive-container iframe,  
.responsive-container object,  
.responsive-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-us {
	padding-top: 10vh;
	font-size: 60px;
}

 

 // ========BUTTON========	
.button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}


// ======FOOTER========

.footer-font {
	font-size: 30px;
}
.copyright-footer {
	font-size: 10px;
}

.social-media {
	font-size: 30px;

	i {
		cursor: pointer;
	}
}

// IPHONE 4
@media 
    only screen and (min-device-width: 320px) 
    and (max-device-width: 480px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (device-aspect-ratio: 2/3)
{
	.resize {
		font-size: 12px;
	}

	.history-about {
		height: 30vh;
		width: 30vh;
	}
}

// GALAXY S5
@media screen and (device-width: 360px) 
	and (device-height: 640px) 
	and (-webkit-device-pixel-ratio: 3) {
	.history-about {
		height: 20vh;
		width: 20vh;
	}
}
// IPHONE 5S
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.history-about {
  		height: 15vh;
  		width: 15vh;
  	}
}